*{
    margin: 0;
    padding:0;
}
.staticpage{
    margin-left: 25vh;
    height:100%;
    margin-top: 4%;
}
#content{
    display: none;
    margin-top: 80px;
}
#transaction-div{
    display: none;
    margin-top: 80px;
}
#request-div{
    display: none;
    margin-top: 80px;
}
#profilediv{
    display: none;
    margin-top: 80px;
}

.applyforloan{
    background-color: blue;
    height:60px; 
    width:200px; 
    margin: 10px 10px;
    border-radius: 30px;
    transform: translate(100%, 0px);
}




/* Profile Section */
#photo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
    
    padding-top: 30px;
    padding: 20px;
    
}